// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts";

.contenedor_header {
  margin: 33px 160px;
  @include abstracts.flex-just-aling1();
  .header_menu ul {
    @include abstracts.flex-just-aling1(56px, space-between, baseline);
  }
  .header_aside {
    @include abstracts.flex-just-aling1(74px);

    .header_aside-i ul {
      @include abstracts.flex-just-aling1(32px);
    }
    .header_aside-sing ul {
      @include abstracts.flex-just-aling1(32px);
    }
  }
}

.desplegable {
  overflow: hidden;
}
.desplegable-div {
  display: none;
  position: absolute;
  
  a {
    
    display: block;
  }
}
.desplegable:hover .desplegable-div {
  display: block;
}

.desplegable-div{
  
}