// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts";

// diseño del header
.header {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    img {
      width: 212px;
    }
    ul {
      display: flex;
    }
    &__menu {
      gap: 56px;
    }
    &__search-bag {
      gap: 32px;
    }
    &__sign {
      gap: 32px;
    }
    &__div {
      display: flex;
      gap: 66px;
    }
  }
}

//diseño del desplegable
.desplegable {
  overflow: hidden;
  &__button {
    border: none;
    background-color: transparent;
  }
}
.desplegable-div {
  display: none;
  position: absolute;

  a {
    display: block;
  }
}
.desplegable:hover .desplegable-div {
  display: block;
}
