@use "../abstracts";

// main
.main {
  max-width: 1600px;
  display: flex;
  &__contenido {
    max-width: 760px;
    display: flex;
    flex-direction: column;
    gap: 90px;

    // section hero
    &__hero {
      margin-top: 110px;
      transform: translateX(-50px);
      animation: entradaLateralder 1.5s ease-out forwards;

      &-subtitle {
        margin-top: 32px;
        margin-bottom: 56px;
      }
      &-button ul {
        display: flex;
        align-items: center;
        gap: 32px;
      }
    }

    // section info
    &__info {
      max-width: 643px;
      padding: 32px;
      margin-bottom: 100px;
      display: flex;
      gap: 72px;
      &__art {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        &-title {
          margin-top: 24px;
          margin-bottom: 16px;
        }
        &-subtitle {
          text-align: center;
        }
        &-subtitle span {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        &:first-of-type p {
          width: 95%;
        }
        &:nth-of-type(2) p {
          width: 95%;
        }
      }
    }

    // secction comentarios
    &__coment {
      display: flex;
      flex-direction: column;
      height: 830px;
      justify-content: flex-end;
      gap: 65px;
      position: relative;
      left: 350px;
      bottom: -20px;
      transform: translateX(50px);
      animation: entradaLateralizq 1.5s ease-out forwards;
      &__art {
        width: 405px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      &__art:first-of-type {
        margin-left: 140px;
      }
    }
  }
}
