@use '../abstracts';

/**
 * Basic typography style for copy text
 */
body {
  color: abstracts.$text-color;
  font: normal 125% / 1.4 abstracts.$text-font-stack;
}

* {
  font-family: abstracts.$font-poppins;
  @include abstracts.tipography
}

/* tipografía header */

.desplegable button, .desplegable a{ 
      font-family: abstracts.$font-nunito;
      text-transform: capitalize;
    }
.header__nav__sign li:first-of-type a{
      font-family: abstracts.$font-nunito;
      text-decoration: underline;
}
a {
  text-transform: capitalize;
}

.icon-chevron{
  font-size: 12px;
  font-weight: 900;
}

.header__nav__search-bag i{
  font-size: 32px;
}


//tipografía main

//sección hero
.main__contenido__hero{
  h1{
     @include abstracts.tipography(64px, 700);
  line-height: 80px;
  }
  p{
    @include abstracts.tipography(24px);
    line-height: 40px;
  }
  i{
    border-radius: 50%;
    padding: 8px;
    font-size: 24px;
}
}

//seccion info
.main__contenido__info{
  h2{
    @include abstracts.tipography(36px, 500)
  } 
  i{
    font-size: 56px;
    border-radius: 50%;
  padding: 5px;
  }
}

//seccion comentarios
.main__contenido__coment{
  h3{
    @include abstracts.tipography(18px, 700)
  } 
  .icon-comilla{
  font-size: 20px;
}
}